<?xml version="1.0"?>
<model>
  <name>T95</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>MZT</name>
    <email>user@example.com</email>
  </author>
  <description>
    Terrain model T95 with 513x513 heightmap and dry grass texture.
  </description>
</model>
